<!DOCTYPE html>
<html>
<head>
    <title>Post Page</title>
    <style>
        .post-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
          }
      
          .post-card h2 {
            margin-top: 0;
          }
    </style>
</head>
 
<body>
    
    <% data.data.forEach((post) => { %>
        <div class="post-card">
      <h1><%= post.title %></h1>
      <h2><%= post.body %></h2>
      <h4>Created by <%= post.createdBy %></h4>
      <h4>Created at <%= post.created_at %></h4>
    </div>
    <% }); %>
  </body>
</html>
